<launch>
	<node pkg='local_planner' type='local_planner' name='local_planner' output='screen'/>
	<node pkg='local_planner' type='path_follower' name='path_follower' output='screen'/>
	<node pkg='local_planner' type='laserscan_to_pointcloud' name='laserscan_to_pointcloud' output='screen'/>

</launch>